@import "tailwindcss";

@theme {
  --color-primary: #0F3D3E;
  --color-accent: #1ABC9C;
  --color-brand-bg: #121212;
  --color-brand-secondary: #1F1F1F;
  --color-text-primary: #FFFFFF;
  --color-text-secondary: #B0B0B0;

  --font-sora: var(--font-sora);
  --font-inter: var(--font-inter);
}

:root {
  --background: #121212;
  --foreground: #FFFFFF;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-sora), Arial, sans-serif;
}